@model GStore.Models.Categoria

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="my-4">Categoria</h1>
<h4 class="mb-4">Detalhes</h4>

<div class="card mb-4 border-dark border-2 rounded-1">
    <div class="card-body"
        <div class="row"
            <div class = "col-md-8 col-lg-10">
                <div class="mb-3"
                    <label asp-for="Nome" class="form-label"></label>
                    <input asp-for="Nome" class="form-control p-2 border-dark border-2 rounded-1" readonly />  






        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
